@charset "utf-8";
.display-flex {
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
body {
  background: #eee;
}
.main .top_title {
  width: 100%;
  height: 130px;
}
.main .top_title .title_name {
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "LiSu";
  position: absolute;
  top: 17px;
  left: 5px;
}
.main .mui-slider {
  height: 150px;
  position: relative;
  bottom: 75px;
  width: 100%;
  margin: 0 auto;
}
.main .mui-slider .mui-slider-indicator .mui-indicator {
  background: white;
  color: white;
}
.main .mui-slider .mui-slider-indicator .mui-active {
  background: red;
  color: red;
}
.main .mui-slider .mui-slider-group .mui-slider-item {
  text-align: center;
}
.main .mui-slider .mui-slider-group .mui-slider-item img {
  width: 90%;
  height: 150px;
  border-radius: 10px;
}
.main .carousel_goods_div {
  width: 100%;
  height: 360px;
  background: white;
  position: relative;
  bottom: 150px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.main .carousel_goods_div .carousel_goods {
  position: relative;
  top: 90px;
  margin: 0 10px;
  overflow: auto;
  z-index: 2;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  list-style: none;
  z-index: 2;
  position: relative;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li {
  width: 71%;
  height: 97%;
  display: inline-block;
  font-size: 13px;
  position: relative;
  border-radius: 7px;
  background: white;
  margin-right: 5px;
  overflow: hidden;
  z-index: 9;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li.border:after {
  content: '';
  width: 1px;
  height: 80px;
  display: inline-block;
  border-right: 1px solid #eee;
  position: absolute;
  top: 10px;
  right: 0;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li:last-child:after {
  display: none;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .img {
  width: 100%;
  height: 80%;
  position: relative;
  border-radius: 7px 7px 0 0;
  z-index: 1;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .img .ranking {
  position: absolute;
  left: 0px;
  background: white;
  color: red;
  font-size: 17px;
  font-weight: bold;
  padding: 2px 3px;
  opacity: 0.6;
  border-radius: 7px 0 0 0;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 7px 7px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  *zoom: 1;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .img .tag {
  color: #fff;
  padding: 0 2px;
  overflow: hidden;
  display: inline-block;
  background: url("../../img/tag1.png") no-repeat 0 0 / 100% 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .img:before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
  width: 0.1px;
  /*必须要有数值，否则无法把高度撑起来*/
  vertical-align: middle;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  width: 99%;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .row .right {
  font-size: 12px;
  color: #999;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .row .cprice {
  color: red;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .row .price {
  color: #999;
  text-decoration: line-through;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .row .cprice em,
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .row .price em {
  font-style: normal;
  font-size: 10px;
  margin-right: -5px;
}
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .row .cprice font,
.main .carousel_goods_div .carousel_goods .goods-list-horizontal ul li .row .price font {
  font-size: 13px;
}
.main .goods_list {
  margin-top: -135px;
}
.main .goods_list .mui-table-view .mui-table-view-cell {
  padding: 5px 15px 11px 7px;
}
.main .goods_list .mui-table-view .mui-table-view-cell p {
  margin-top: 5px;
}
.main .goods_list .mui-table-view .mui-table-view-cell a img {
  width: 140px !important;
  height: 140px;
  margin-right: 10px;
  line-height: 42px;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body {
  line-height: 18px;
  margin-top: 5px;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .scroll {
  height: 23px;
  margin-top: 10px;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .scroll span {
  color: #999;
  border: 0;
  background: #efefef;
  border-radius: 30px;
  line-height: 20px;
  padding: 0px 10px;
  font-size: 12px;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .scroll .red {
  color: white;
  background: red;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .price_bottom {
  width: 100%;
  margin-top: 1px;
  line-height: 33px;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .price_bottom .price {
  font-size: 13px;
  color: #999;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .price_bottom .price font {
  color: red;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .price_bottom .price .number {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .price_bottom .price .yj {
  text-decoration: line-through;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .price_bottom .go {
  float: right;
  font-size: 20px;
  color: white;
  background: black;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.main .goods_list .mui-table-view .mui-table-view-cell a .mui-media-body .sales {
  font-size: 13px;
  color: #999;
}
.mui-table-view:before,
.mui-table-view-cell:after {
  height: 0;
}
