@charset "utf-8";
.display-flex {
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
}
.icon,
[class^="icon-"] {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.color-white {
  color: #fff;
}
.color-baseColor {
  color: #800000;
}
.color-hoverColor {
  color: #ff9800;
}
.bg-white {
  background-color: #fff;
}
.bg-red {
  background-color: red;
}
.bg-blueviolet {
  background-color: blueviolet;
}
.bg-gold {
  background-color: gold;
}
.bg-darkorange {
  background-color: darkorange;
}
.bg-baseColor {
  background-color: #800000;
  color: #fff;
}
.bg-close {
  background-color: #858484 !important;
  color: #ccc;
  box-shadow: none !important;
}
.pd-right {
  padding-right: 20px;
}
.pd-left {
  padding-left: 20px;
}
.mui-bar-nav {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #800000;
}
.mui-bar-nav .mui-title {
  color: #ffffff !important;
}
.loading-block {
  padding: 20px 0px;
  text-align: center;
  color: #999;
}
.loading-block i {
  margin-right: 5px;
  display: inline-block;
  -webkit-animation: loadingRotate 1.8s infinite linear;
  -moz-animation: loadingRotate 1.8s infinite linear;
  -o-animation: loadingRotate 1.8s infinite linear;
  animation: loadingRotate 1.8s infinite linear;
  font-size: 18px;
}
.loading-block i:before {
  color: #800000;
}
.loading-block font {
  font-size: 16px;
}
@-webkit-keyframes loadingRotate {
  0% {
    color: limegreen;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    color: limegreen;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loadingRotate {
  0% {
    color: limegreen;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    color: limegreen;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loadingRotate {
  0% {
    color: limegreen;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    color: limegreen;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadingRotate {
  0% {
    color: limegreen;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    color: limegreen;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.bg-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 4;
}
.bg-image {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  background: url("../../img/background.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  margin: 0 -10px;
  z-index: 2;
}
.loading-block {
  padding: 20px 0px;
  text-align: center;
  color: #999;
}
.loading-block i {
  margin-right: 5px;
  display: inline-block;
  -webkit-animation: loadingRotate 1.8s infinite linear;
  -moz-animation: loadingRotate 1.8s infinite linear;
  -o-animation: loadingRotate 1.8s infinite linear;
  animation: loadingRotate 1.8s infinite linear;
  font-size: 18px;
}
.loading-block font {
  font-size: 16px;
}
.no-data-label {
  padding: 70px 0;
}
.no-data-label i {
  line-height: 100px;
  text-align: center;
  font-size: 100px;
  display: block;
  overflow: hidden;
  color: #ccc;
}
.no-data-label p {
  font-size: 30px;
  color: #ccc;
}
.mui-dtpicker-header {
  position: relative;
}
.mui-dtpicker-header .bs-title {
  position: absolute;
  top: 10px;
  left: 60px;
  right: 60px;
  text-align: center;
  font-size: 14px;
}
.mui-dtpicker-header .mui-btn-blue {
  float: right !important;
}
